.tomcatManager {
}

.tomcatManager * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tomcatManager .resizable-content {
    padding-top: 24px;
    position: relative;
}

.tomcatManager .actionsContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.tomcatManager .serverList {
    height: 22px;
    margin-bottom: 0px;
}

.tomcatManager .consoleContainer {
    height: 100%;
    overflow: auto;
}

.tomcatManager .table {
    /* reset bottom margin... I want to take all available space */
    margin-bottom: 0px !important;
}

.tomcatManager .start {
    background-color: transparent;
    background: url("../img/glyphicons_173_play.png");
    background-repeat: no-repeat;
    background-size: 12px;
    height: 20px;
    width: 24px;
    border: 0px;
    display: inline-block;
    padding: 0px;
    background-position: 6px 4px;
}

.tomcatManager .stop {
    background-color: transparent;
    background-image: url("../img/glyphicons_175_stop.png");
    background-repeat: no-repeat;
    background-size: 12px;
    height: 20px;
    width: 24px;
    border: 0px;
    display: inline-block;
    padding: 0px;
    background-position: 5px 4px;
}
